@import 'tailwindcss';

/* 定義自訂字體 */
@theme {
  --font-family-noto: var(--font-noto), sans-serif;
  --font-family-lato: var(--font-lato), sans-serif;
}

/* 或者覆蓋預設字體 */
@theme {
  --font-family-sans: var(--font-noto), sans-serif;
}
